h4, p {
    display: inline;
}

a, span, img {
    display:block;
}

.container {
    display:inline-block;
    margin: 0;
    background-color: lightblue;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: auto;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.flex-item {
    flex: 1 1 33%;
    padding: 10px;
    text-align: center;
    background-color: lightgreen;
    border: 1px solid black;
}

#p-one{
    display: none;
}

img{
    float: right;
}
